.star1-container {
    position: absolute;
    height: 2rem;
    left: 2%;
    top: 5rem;
    transform: translate(0, 0); /* Initial position, no additional translation needed */
    z-index: -1; 
    /* Ensure these are in the background */
}

.star2-container {
    position: absolute;
    height: 5rem;
    left: 40%;
    top: 50rem;
    transform: translate(0, 0); /* Initial position, no additional translation needed */
    z-index: -1;
     /* Ensure these are in the background */
}

.star3-container {
    position: absolute;
    height: 7rem;
    right: 3%;
    top: 30rem;
    transform: translate(0, 0); /* Initial position, no additional translation needed */
    /* z-index: -1;  */
    /* Ensure these are in the background */
}

.blinking-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: rgba(255, 255, 130, 0.25);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 130, 0.25); /* Adjust the shadow parameters as needed */
}

.blinking-image.visible {
    opacity: 1;
}

.blinking-image.hidden {
    opacity: 0;
}

.moving-planet {
    position: absolute;
    left: 45%;
    width: 10rem;
    transform: translate(0, 0); /* Initial position, no additional translation needed */
    animation: moveUpDown 2s infinite; /* Animation lasts 2 seconds and repeats infinitely */
    z-index: -1; /* Ensure these are in the background */
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* Start and end position (at the same location) */
    }
    50% {
        transform: translateY(-20px); /* Move up by 20px */
    }
}