.open-button {
    height: 2.5rem;
    border-radius: 3rem;
    border-width: 0;
    margin: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.25rem;
    font-family: "Karla", sans-serif;
}

.open-button:hover {
    cursor: pointer;
}

.open-screen {
    display: block;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    width: 80%;
    height: auto;
}

.login-textarea {
    height: 1.2rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
    vertical-align: top;
    overflow-y: hidden;
    overflow-wrap: normal; /* Wrap the text at the end of the input field */
    resize: none;
    font-size: 0.9rem;
    font-family: "Karla", sans-serif;
}

.connect-to-button {
    display: block;
    width: 8rem;
    height: 2rem;
    border-radius: 3rem;
    border-width: 0;
    background-color: #DDDDDD;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}

.connect-to-button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: right;
}