.mood-options-bar {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    color: black;
    display: flex;
    background: #F1EFFF;
    border-radius: 2rem;;
    justify-content: space-evenly;
}

.mood-button {
    height: 4rem;
    width: 4rem;
    background: none;
    text-align: center;
    line-height: 4rem;
    border-radius: 2rem;
    
    img {
      height: 1.75rem;
      vertical-align: middle;
    }
  }
  
.mood-button:hover {
    line-height: 4rem;
    cursor: pointer;
}
  
.selected {
    height: 4rem;
    width: 4rem;
    background: none;
    text-align: center;
    line-height: 4rem;
    border-radius: 2rem;
    
    outline: 2px solid #6E6BC9;
}