.mood-options-bar {
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;;
}

.light-mode .mood-options-bar {
  background: #F1EFFF;
  color: black;
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.25); 
}

.dark-mode .mood-options-bar {
  background: #121933;
  color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.40); 
}

.mood-button {
    height: 4rem;
    width: 4rem;
    background: none;
    text-align: center;
    line-height: 4rem;
    border-radius: 2rem;
    
    img {
      height: 2.5rem;
      vertical-align: middle;
    }
  }
  
.mood-button:hover {
    line-height: 4rem;
    cursor: pointer;
    transform: scale(0.8);
}
  
.selected {
    height: 4rem;
    width: 4rem;
    background: none;
    text-align: center;
    line-height: 4rem;
    border-radius: 2rem;
}

.light-mode .selected {
  outline: 2px solid #6E6BC9;
}

.dark-mode .selected {
  outline: 2px solid rgba(255, 255, 130, 0.5);
}

/* Small devices (phones) */
@media (max-width: 768px) {
  .mood-options-bar {
    border-radius: 1.75rem;
    padding: 1rem;
  }
    .mood-button {
      height: 3rem;
      width: 3rem;

      img {
        height: 2.25em;
        vertical-align: middle;
      }
    }


}
