button:hover {
    transform: scale(0.95); /* Shrink the button to 95% of its original size */
    border: none;
    cursor: pointer;
}

.title-textarea {
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-family: "1HoonDdukBokki", serif;
    font-size: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    text-align: center;
    height: 2rem;
    width: 90%;
}

.light-mode .title-textarea {
    color: black;
}


.dark-mode .title-textarea {
    color: white;
}

.title-textarea:focus {
    outline: none;
}

.journal-textarea {
    height: 20rem;
    width: 90%;
    border-width: 0;
    overflow-y: auto;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap the text at the end of the input field */
    resize: none;
}

.light-mode .journal-textarea {
    color: black;
}


.dark-mode .journal-textarea {
    color: white;
}

.journal-textarea:focus {
    outline: none;
}

.journal-container {
    display: block;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 3rem;
    background: #F1EFFF;
    color: black;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.light-mode .journal-container {
    background: #F1EFFF;
    color: black;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.25); 
}

.dark-mode .journal-container {
    background: #121933;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.40); 
}

.alert {
    color: #DD0000;
}

.uploaded-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: auto;
    border-radius: 1rem;
}

.music-link-textarea {
    height: 1.5rem;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    padding-top: 0.25rem;
    border: none;
    width: 60%;
    background: none;
    vertical-align: middle;
    resize: none;
    font-size: 0.9rem;
    font-family: "1HoonDdukBokki", serif;
    overflow: auto;
}

.music-link-textarea:focus {
    outline: none;
}

.light-mode .music-link-textarea {
    color: black;
}

.dark-mode .music-link-textarea {
    color: white;
}

.music-search-button {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    height: 1.5rem;
    font-size: 1rem;
    font-family: "1HoonDdukBokki", serif;
    background: linear-gradient(#9D9BDF, #6C69C8);
    width: 15%;
    color: white;
    border: none;
    border-radius: 0.75rem;
}

.light-mode .music-search-button {
    background: linear-gradient(#9D9BDF, #6C69C8);
    color: white;
}

.dark-mode .music-search-button {
    background: linear-gradient(#447199, #03374C);
    color: white;
}

input::file-selector-button {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    height: 1.5rem;
    font-size: 1rem;
    font-family: "1HoonDdukBokki", serif;
    background: linear-gradient(#9D9BDF, #6C69C8);
    width: 10rem;
    color: white;
    border: none;
    border-radius: 0.75rem;
}

input::file-selector-button:hover {
    transform: scale(0.95); /* Shrink the button to 95% of its original size */
    cursor: pointer;
}

.light-mode input::file-selector-button {
    background: linear-gradient(#9D9BDF, #6C69C8);
    color: white;
}

.dark-mode input::file-selector-button {
    background: linear-gradient(#447199, #03374C);
    color: white;
}