/* todo: delete file if not needed */
.page-container {
    display: flex;
  }

  .calendar-container {
    display: block;
  }

  .react-calendar {
    border-radius: 3rem;
    width: 45%;
    margin: 2.5%;
    background: #E6E2E2;
    color: black;
    font-size: 2rem;
    padding: 2rem;
    line-height: 50px;
    text-decoration: none;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Newsreader", serif;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .react-calendar button {
    border-width: 0;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
    background-color: #757575;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.5em;

    text-decoration: none;

  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  abbr {
    text-decoration: none;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }

  .react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%; 
    color: #121933;
    .react-calendar__tile {
      max-width: initial !important;
    }
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    border-radius: 50px; /* Adjust the border-radius to control the roundness */
    margin: 5px; /* Adjust the margin to control the space between tiles */
    border: 0;
    height: 5rem;
    outline: none;
    background-color: #121933;
    font-family: "Karla", sans-serif;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #B4B4B8;
  }
  
  .react-calendar__tile--now {
    background: #B4B4B8;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: grey;
  }
  
  .react-calendar__tile--hasActive {
    background: #B4B4B8;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #B4B4B8;
    color: black;
  }
  
  .react-calendar__tile--active {
    background: #B4B4B8;
    color: 121933;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #B4B4B8;
    color: black;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #B4B4B8;
  }

  img {
    height: 1.25rem;
    width: auto;
  }