.animated-toolbar {
    display: flex;
    align-items: center; 
    gap: 3rem; 
    background-color: white; 
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 2rem; /* Rounded corners for the toolbar */
    width: 4rem; /* Small width for collapsed state */
    height: 4rem; /* Small height for collapsed state */
    overflow: hidden; /* Hide overflow to ensure items don't show when collapsed */
    transition: width 0.5s ease; /* Smooth transition for size change */
  }
  
  .animated-toolbar:hover {
    width: 7rem; /* Expanded width on hover */
    height: auto; /* Automatically expand height to fit content */
    padding: 0.5rem; /* Larger padding for expanded state */
  }

  .add-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dark-mode .add-button {
    filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(600%) hue-rotate(175deg) brightness(90%) contrast(90%);
  }
  
  .toolbar-items {
    display: flex;
    flex-direction: row; /* Arrange items vertically */
    gap: 1rem; /* Adjust the gap between items as needed */
  }
  
  .toolbar-item {
    background: none; /* Default background color for items */
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
  
  .toolbar-item:hover {
    transform: scale(0.95); 
  }

  .dark-mode .toolbar-item {
    filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(600%) hue-rotate(175deg) brightness(90%) contrast(90%);
  }
  