@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.landing-page {
    font-family: "1HoonDdukBokki", serif;

    .background {
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}

body {
    font-family: "1HoonDdukBokki", serif;
    color: black;
    background-image: url("../../assets/light-mode/background.png");
  }


.heading {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    animation: fadeIn 1s ease-in-out;
}

button {
    display: block;
    height: 3rem;
    border-radius: 3rem;
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "1HoonDdukBokki", serif;
    font-size: 1.2rem;
}

.open-button {
    height: 2.5rem;
    border-radius: 3rem;
    border: none;
    width: 12.5rem;
    margin-top: 2rem;
    font-family: "1HoonDdukBokki", serif;
    background: linear-gradient(#9D9BDF, #6C69C8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    
    animation: fadeIn 2s ease-in-out;

}

.open-button:hover {
    cursor: pointer;
}

.open-screen {
    padding-top: 9rem;
    text-align: center;
    height: auto;
}

.login-textarea {
    height: 1.2rem;
    border-radius: 1rem;
    padding: 1rem;
    width: calc(100% - 2.5rem);
    vertical-align: top;
    overflow-y: hidden;
    overflow-wrap: normal; /* Wrap the text at the end of the input field */
    resize: none;
    font-size: 0.9rem;
    font-family: "1HoonDdukBokki", serif;
}

.submit-button {
    background: linear-gradient(#9D9BDF, #6C69C8);
    color: white;
    width: 100%;
    margin-top: 2rem;
}

.authgoogle-button {
    background: white;
    color: black;
    width: 100%;
    margin-top: 2rem;
}

.google-icon {
    height: 1rem;
}

.logo-display {
    width: 25rem;
}

.close-button {
    float: right;
    font-size: large;
    background-color: transparent;
    color: black;
    margin-top: 0;
    border-width: 0;
    width: auto;
    font-family: "Karla", sans-serif;

}

.close-button:hover {
    color: white    ;
    cursor: pointer;
}


/* Small devices (phones) */
@media (max-width: 768px) {
    .logo-display {
        width: 15rem;
    }

    .heading {
        font-size: 1.8rem;
    }

    button {
        font-size: 1rem;
    }

    body {
        font-family: "1HoonDdukBokki", serif;
        color: black;
        background-image: url("../../assets/light-mode/mobile-background.png");
      }
  }