/* todo: delete file if not needed */
.pet-container {
    position: absolute;
    height: 30rem;
    width: 30rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 2rem;

    text-align: center;
    border-radius: 3rem;
    background-color:  #FFCCCC;

    border: 2px solid black;
}

.pet-open-button {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    height: 5rem;
    width: 5rem;
    font-size: large;
    border-radius: 5rem;
    background-color: #F2A6B9;
    border-width: 0;
}


.pet-open-button:hover {
    background-color: white;
    cursor: pointer;
}

.pet-close-button {
    float: right;
    font-size: large;
    background-color: transparent;
    color: black;
    border-width: 0;
    font-family: "Single Day", cursive;

}


.pet-close-button:hover {
    color: white    ;
    cursor: pointer;
}