/* global css styles! */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: "Karla", sans-serif;
  background-color: white;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1.5rem;
  font-style: normal;
}

.journal-textarea {
  height: 25rem;
  border-radius: 3rem;
  padding: 5%;
  width: 90%;
  border-width: 0;
  overflow-y: auto;
  vertical-align: top;
  overflow-wrap: break-word; /* Wrap the text at the end of the input field */
  resize: none;
  font-size: 0.9rem;
  font-family: "Karla", sans-serif;
  background-color: #D9D9D9;
}

.popup-container {
  position: absolute;
  height: 30rem;
  width: 30rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 2rem;

  text-align: center;
  border-radius: 3rem;
  background-color:  #FFCCCC;

  border: 2px solid black;
}

.close-button {
  float: right;
  font-size: large;
  background-color: transparent;
  color: black;
  border-width: 0;
  font-family: "Karla", sans-serif;

}

.close-button:hover {
  color: white    ;
  cursor: pointer;
}

.save-button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 3rem;
  border-width: 0;
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #D9D9D9;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.save-button:hover {
  border-width: 0.1rem;
  cursor: pointer;
}