/* global css styles! */
@font-face {
  font-family: '1HoonDdukBokki';
  src: local('1HoonDdukBokki'), url(./assets/font/1HoonDdukbokki\ Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body.light-mode {
  font-family: "1HoonDdukBokki", serif;
  color: black;
  background-image: url("./assets/light-mode/background.png");
}

body.dark-mode {
  font-family: "1HoonDdukBokki", serif;
  color: white;
  background-image: url("./assets/dark-mode/background.png");
}

.journal-textarea {
  height: 25rem;
  border-radius: 2rem;
  padding: 5%;
  width: 90%;
  border-width: 0;
  overflow-y: auto;
  vertical-align: top;
  overflow-wrap: break-word; /* Wrap the text at the end of the input field */
  resize: none;
  font-size: 1rem;
  font-family: "1HoonDdukBokki", sans-serif;
  background: none;
}

.popup-container {
  position: fixed;
  color: black;
  width: 50%;
  transform: translate(-50%, -50%); /* Adjust vertically by half of its own height */  
  left: 50%;
  top: 50%;
  border-radius: 3rem;
  background-color: #F1EFFF;
  padding: 2%;
  z-index: 10;
}

.close-button {
  float: right;
  font-size: large;
  background-color: transparent;
  color: black;
  border-width: 0;
  font-family: "Karla", sans-serif;

}

.close-button:hover {
  color: white    ;
  cursor: pointer;
}

.save-button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 3rem;
  border-width: 0;
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "1HoonDdukBokki", serif;
  font-size: 1.25rem;
}

.light-mode .save-button {
  background: linear-gradient(#9D9BDF, #6C69C8);
}

.dark-mode .save-button {
  background: linear-gradient(#447199, #03374C);
}

.save-button:hover {
  border-width: 0.1rem;
  cursor: pointer;
}