.heading-container {
    width: 100%;
    text-align: center;
} 

.mood-button {
    height: 3rem;
    width: 3rem;
}

.mood-button:hover {
    cursor: pointer;
}

.selected {
    background-color: #757575;
}

.journal-textarea {
    height: 20rem;
    border-radius: 3rem;
    padding: 5%;
    width: 90%;
    border-width: 0;
    overflow-y: auto;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap the text at the end of the input field */
    resize: none;
    font-size: 0.9rem;
    font-family: "Karla", sans-serif;
    background-color: white;
}

.journal-container {
    width: 45%;
    padding: 2.5%;
}

.alert {
    color: #DD0000;
}

.uploaded-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: auto;
}