.heading-container {
    width: 100%;
    text-align: center;
} 

.journal-textarea {
    height: 20rem;
    border-radius: 3rem;
    padding: 5%;
    width: 30rem;
    border-width: 0;
    overflow-y: auto;
    vertical-align: top;
    overflow-wrap: break-word; /* Wrap the text at the end of the input field */
    resize: none;
    font-size: 0.9rem;
    font-family: "Karla", sans-serif;
    background: #F1EFFF;
}

.journal-container {
    display: block;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 3rem;
    background: #F1EFFF;
    color: black;
}

.alert {
    color: #DD0000;
}

.uploaded-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: auto;
}

.music-link-textarea {
    height: 2rem;
    border: none;
    width: 30rem;
    color: black;
    vertical-align: middle;
    resize: none;
}

.transparent-iframe {
    background-color: transparent;
  }
  